@import url(font.css);
@import url(footer.css);
@import url(header.css);

:root {
    --greenColor: #008000;
    --fontColorDark: #242e30;
    --fontColorLight: white;
    --backgroundColorFooter: #1f1f1f;
    --headerFontSize: 2rem;
    --sectionFontSize: 1.5rem;
    --defaultFontSize: 1.25rem;
    --secondaryFontSize: 1rem;
    --captionFontSize: 0.75rem;
    --fontWeightBold: 600;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--defaultFontSize);
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--fontWeightBold);
}

.background-color-bug {
    background-color: #729f3f;
    color: var(--fontColorLight);
}

.background-color-dark {
    background-color: #707070;
    color: var(--fontColorLight);
}

.background-color-dragon {
    background: -webkit-linear-gradient(180deg, #1a1b1b 50%, #f16e57 50%);
    background: -ms-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: -moz-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: -o-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
    color: var(--fontColorLight);
}

.background-color-electric {
    background-color: #eed535;
    color: var(--fontColorDark);
}

.background-color-fairy {
    background-color: #fdb9e9;
    color: var(--fontColorDark);
}

.background-color-fighting {
    background-color: #d56723;
    color: var(--fontColorLight);
}

.background-color-fire {
    background-color: #fd7d24;
    color: var(--fontColorLight);
}

.background-color-flying {
    background: -webkit-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -ms-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -moz-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -o-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
    color: var(--fontColorDark);
}

.background-color-ghost {
    background-color: #7b62a3;
    color: var(--fontColorLight);
}

.background-color-grass {
    background-color: #9bcc50;
    color: var(--fontColorDark);
}

.background-color-ground {
    background: -webkit-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: -ms-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: -moz-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: -o-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
    color: var(--fontColorDark);
}

.background-color-ice {
    background-color: #51c4e7;
    color: var(--fontColorDark);
}

.background-color-normal {
    background-color: #a4acaf;
    color: var(--fontColorDark);
}

.background-color-poison {
    background-color: #b97fc9;
    color: var(--fontColorLight);
}

.background-color-psychic {
    background-color: #f366b9;
    color: var(--fontColorLight);
}

.background-color-rock {
    background-color: #a38c21;
    color: var(--fontColorLight);
}

.background-color-steel {
    background-color: #9eb7b8;
    color: var(--fontColorDark);
}

.background-color-water {
    background-color: #4592c4;
    color: var(--fontColorLight);
}

.pokeOverview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
}

.pokeImg {
    width: 100%;
    max-height: 200px;
}

.pokeContainer {
    height: 300px; 
    width: 300px;
    cursor: pointer;
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.2s; 
    -webkit-transition-timing-function: ease; 
    border-radius: 10%;
}

.pokeContainer:hover {
    opacity: 0.8;
    scale: 1.05;
}

.flex-wrap {
    gap: 20px
}

.mr-16px {
    margin-right: 16px;
}

.mtb-32 {
    margin: 32px 0px ;
}

.modal-footer {
    border-top: 0px solid;
}

.pokestats a{
    color: var(--bs-gray-300);
}

.pokestats a:hover, a:visited, a:active {
    color: var(--bs-nav-underline-link-active-color);
}
